{% extends "base.html" %}
{% block title %}Профиль пользователя {{ user_profile.username }}{% endblock %}
{% block content %}
    <div class="mb-5">
      <h1>Все посты пользователя {{  user_profile.username.get_full_name }} </h1>
      <h3>Всего постов: {{  user_profile.username.posts.count }} </h3>
      {% if following %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' user_profile.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' user_profile.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    </div>
  {% for post in page_obj %}
    {% include "posts/includes/main_post.html" with show_author_link=False show_group_link=True %}
  {% endfor %}

  {% if page_obj.has_other_pages %}
    {% include "posts/includes/paginator.html" %}
  {% endif %}
</div>
{% endblock %}